filter {
        if [type] == "nginx-access" {
                grok {
                        patterns_dir => "/usr/local/logstash-6.2.4/patterns"        #设置自定义正则路径
                        match => {
                                "message" => "%{PROXY_HTTP_ACCESS}"
                        }
                }
                date {
                        match => [ "log_timestamp" , "dd/MMM/YYYY:HH:mm:ss Z" ]
                }
				geoip {
                        source => "clientip"
                        target => "geoip"  #默认就是这个target，就是过滤的内容都写到这个字段下面
                        database => "/usr/local/logstash-6.2.4/geodata/GeoLite2-City.mmdb"
                        #2fields => ["city_name", "country_code2", "country_name", "latitude", "longitude", "region_name"]#指定自己所需的字段
                        #2remove_field => ["[geoip][latitude]", "[geoip][longitude]"]  #删除多余的字段
                        fields => ["city_name", "country_code2", "country_name", "region_name"]
						#直接这样一句话也是可以达到上面两句话的效果的。

                        add_field => [ "[geoip][coordinates]", "%{[geoip][longitude]}" ]
                        add_field => [ "[geoip][coordinates]", "%{[geoip][latitude]}"  ]
                }
                mutate {
                        convert => [ "[geoip][coordinates]", "float"]
                }
				urldecode {
        　　　　　　　　all_fields => true
						#把所有字段进行urldecode（显示中文）
    　　　　　　}
　　　　　　　　
        }
}

//以下OK，以上不行
filter {
        if [type] == "nginx-access" {
                grok {
                        patterns_dir => "/usr/local/logstash-6.2.4/patterns"        #设置自定义正则路径
                        match => {
                                "message" => "%{PROXY_HTTP_ACCESS}"
                        }
                }
                date {
                        match => [ "log_timestamp" , "dd/MMM/YYYY:HH:mm:ss Z" ]
                }
        }
}
output {
        if [type] == "nginx-access" {
                elasticsearch {
                        hosts => ["192.168.0.155:9200"]
                        manage_template => true
                        index => "logstash-nginx-access-%{+YYYY-MM}"
                }
        }
}